<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/js/uikit-icons.min.js"></script>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--My Stylesheet-->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Monoton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Space+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
    <title>Jake Petersen</title>
</head>

<body>
    <div class="container">

        <div class="row">
            <br>
        </div>

        <!--sidebar-->
        <button class="uk-button uk-button-default uk-margin-small-right" type="button"
            uk-toggle="target: #offcanvas-nav-primary" id="exploreButton">Explore</button>

        <div id="offcanvas-nav-primary" uk-offcanvas="mode: push; overlay: true">
            <div class="uk-offcanvas-bar uk-flex uk-flex-column">
                <img src="/images/logowhite.png" alt="whitelogo" id="whiteLogo">
                <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
                    <li class="uk-active"><a href="/">Welcome</a></li>
                    <li><a href="/jake">Portfolio</a></li>
                    <li><a href="https://github.com/jcbpetersen1995" target="_blank">Github</a></li>
                    <li><a href="https://www.linkedin.com/in/jcbpetersen1995/" target="_blank">LinkedIn</a></li>
                    <li><a href="/images/ResumeJP2020.pdf" target ="_blank">Resume</a></li>


                </ul>
            </div>
        </div>
        <!--/sidebar-->

        <div style="padding-top: 60px" class="row">
            <div class="col-sm-12">
                <h1 id="welcome">WELCOME,</h1>
            </div>
        </div>

        <div class="row" style="padding-top: 40px">
            <div class="col-sm-12 col-lg-6">
                <h2 id="intro">INTRO</h2>
                <p id="bio">My name is Jake and I'm a full-stack web developer. I enjoy
                    the the creative aspect of coding and creating beautiful user interfaces. My UX designs vary and can
                    be minimalistic, retro-modern, modern or colorful. With mainly high-line automotive industry and
                    customer service backgrounds, I am looking to move my career focus towards web and app development.
                    I am currently enrolled in a full-stack web development bootcamp, as well as an online iOS app
                    development course. Please select the <i>EXPLORE</i> tab above to learn more about me and my work.
                </p>
            </div>
            <div class="col-sm-12 col-lg-6">
                <h2 id="aboutMe">ABOUT ME</h2>
                <p id="bio">Southern California will always be home. I was born in Orange, CA in 1995. Growing up in
                    SoCal, I was surrounded
                    by beauty, both natural and urban. I have always been inspired by the complexity of the
                    infrustructure back home.
                    Flowing lines, intersections, connections, and color pops.
                </p>
                <p id="bio">I like to work with cooler coolers in the backgrounds, and pops of warmer colors for
                    elements such as headings
                    and buttons. This adds a nice contrast to the UX and keeps the user visually pleased.
                </p>
            </div>
        </div>

        <div class="row" style="padding-top:30px">
            <div class="col-sm-12 col-lg-6">
                <h2 id="career">CAREER</h2>
                <p id="bio">Since having my first job back in 2013, I have held many different positions that have given
                    me skills to use
                    in any field. I have been everything from a barista at Starbucks, to a shift manager, to a service
                    advisor at
                    Mercedes-Benz. I am now ready to pursue a career in full-stack web and app development.
                </p>
            </div>
            <div class="col-sm-12 col-lg-6">
                <h2 id="career">CONTACT</h2>
                <p id="bio">
                    <br>
                    P. 951-227-6991
                    <br>
                    <br>
                    E. JCB.PETERSEN1995@GMAIL.COM
                </p>
            </div>
        </div>
        <div class="row">
            <br>
        </div>
    </div>

    <!--Footer-->
    <footer class="footer">
        <p>Thank you for checking out my portfolio! Please return for more great content!</p>
    </footer>
    <!--/Footer-->

    <!--JS-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>